$def_page_bg: #2c3641 !default;
$def_dark: #151a20 !default;
$def_dark_middle: #202831 !default;
$def_white: #e6e6e4 !default;
$def_pastel_yellow: #ffdf93 !default;
$def_yellow: #ffd064 !default;
$def_brown: #8d5437 !default;
$def_blue_gray: #99a8ba !default;

$def_dark_gray: #5b6672 !default;
$pure_white: #fff !default;
$def_middle_gray: #3f4d5b !default;

$def_blue: #4d7bae !default;
$def_light_blue: #93c3f8 !default;

$def_purple: #4b5787 !default;

// SHADOWS
$idb_s_d: #252e37;
$idb_s_l: #333e4b;
